@media only screen and (max-width: 768px) {
    


 
.button {
    width: 30%;
}

}

#button {
    background-image: linear-gradient(to top, transparent 50%, black 50%);
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: 0.4s;
}

#button:hover {
    color: white;
    background-position: 0% 100%;
}
