/* style.css */

/* Universal CSS */
* {
    font-family: sans-serif;
}


header h1 {
    text-align: center;
}

header img {
    width: 100%;
    
}

h2 {
    color: #E06F1F;
}

h3 {
    color: black;
}

body {
    background-color: #898b89;
}

body p {
    color: #000000;
}


/* nav css */
nav {
    background-color: black;
    padding: 2%;
}

nav a {
    text-decoration: none;
    padding: 2%;
    color: #E06F1F;
    font-size: 1.5em;
}


nav a:visited{
    text-decoration: none;
}

nav a:hover{
    background-color: #E06F1F;
    color:white;
    padding: 2%;
}

.active{
    background-color: #E06F1F;
    color:white;
}


/* Nav bar transition effect */
.button {
    /* changes linear gradient from bottom to top, 50% percent of the gradient is black and 50% is transparent */
    background-image: linear-gradient(to top, transparent 50%, black 50%);
    /* background is twice as high as it is wide */
    background-size: 100% 200%;
    /* the position starts at the top right corner */
    background-position: 0% 0%;
    transition: 0.4s;
}

.button:hover {
    /* when the button is hovered the text turns white */
    color: white;
    /* the background position changes from the bottom left corner of the image */
    background-position: 0% 100%;
}



/* apply page CSS */

/* Title and intro paragraph */
#apply_title {
    margin: 1%;
}

/* css for everything in the main section */
#apply_main {
    background-color: #a3a8a3;
    margin: 5px;
    padding: 5px;
}



/* main fieldset group sizing */
#personal_details, #contact_information, #skills {
    width: 50%;
}


/* Initial dropdown menu */
#job_menu {
    padding: 1%;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}



/* Fieldset legend text */
legend {
    font-weight: bold;
    font-size: 1.1em;
}

/* Giving each fieldset a border and margin/padding */
fieldset {
    border: 3px solid rgb(49, 49, 49);
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
}

fieldset:hover {
    border: 3px solid rgb(94, 93, 93);
}

/* Spacing out the labels */
label {
    margin: 5px;
}

/* spacing out elements in divs */
form div {
    padding: 1%;
}

/* Label wrapper, used to keep labels and their input boxes aligned, ensuring they dont overflow to a new line when changing screen size */
.labels {
    display: flex;
    white-space: nowrap;
    padding-right: 5px;
}

/* spacing between input boxes */
.labels input {
    margin-left: 5px;
    margin-right: 10px;
}



/* CSS for reset and submit buttons */
.form_button {
    height: 1.5em;
    width: 10em;
    font-size: 1.3em;
    margin: 10px;
    margin-left: 1%;
}

.form_button:hover {
    background-color: #E06F1F;
    font-weight: bold;
}


/* css for other skills textbox */
#skillbox {
    margin-top: 1%;
    font-weight: bold;
    font-size: 1.1em;
}

/* removing the blue outline when in focus, and disabling the resize grabber */
textarea {
    outline: none;
    resize: none;
}



/* Jobs page CSS */
#job1, #job2 {
    background-color: #a3a8a3;
    border: 4px solid rgb(136, 136, 136);
    margin: 5px;
    padding: 5px;
}

#job1:hover{
    border: 4px solid rgb(0, 0, 0);
}

#job2:hover{
    border: 4px solid rgb(0, 0, 0);

}



/* CSS for aside  */
aside {
    float: right;
    text-align: center;
    margin: 2%;
    padding: 2%;
    width: 30%;
    background-color: black;
    border: 3px solid rgb(12, 12, 12);
    border-radius: 50%;
}

aside h2 {
    color: #E06F1F;
}

aside img {
    border-radius: 50%;
    width: 25%;
}

aside:hover {
    border: 3px solid #E06F1F;

}

aside img:hover {
    opacity: 50%;
}

aside p {
    color: white;
}



/* About page CSS */
#content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* align top of page with group info */
}

#content-wrapper h1 { text-align: left;
    padding-left: 20px;
}

#about_main {
    flex: 0 0 59%; /* first 59% of page width */
    background-color: #a3a8a3;
    border: 4px solid rgb(136, 136, 136);
    margin: 5px;
    padding: 5px;
}

/* child elements will be side by side */
#group-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: 3px solid rgb(49, 49, 49);
    border-radius: 10px;
}

/* Split sections for group info and members */
#group-info, #members-info {
    width: 48%;
}

#group-details dt {
    font-weight: bold;
    margin-bottom: 5px;
}

#group-details dd {
    margin-left: 20px;
    margin-bottom: 15px;
}

#timetable {
    border: 3px solid rgb(49, 49, 49);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px; /* Spaced from group info section */
    max-width: 100%;
}

#timetable table {
    width: 100%;
    table-layout: fixed; /* Spaces columns out evenly */
}

#timetable caption {
    caption-side: top;
    font-weight: bold;
    color: #1d1d1d; 
    margin-bottom: 10px;
    text-align: left;
}

#timetable th, #timetable td {
    border: 1px solid #1d1d1d;
    padding: 10px;
    text-align: center;
}

#timetable th {
    background-color: #bdbdbd;
    font-weight: bold;
}

#timetable td {
    background-color: #f5f5f5;
    font-size: 1em;
}

/* Aligning the time column to the left & italics */
#timetable td:first-child {
    text-align: right;
    font-style: italic;
}

#about-email {
    padding-left: 20px;
    font-weight: bold;
}

#about-email a {
    color: black;
}

#about-sidebar {
    text-align: center;
    flex: 0 0 39%; /* last 39% of page width */
    background-color: #a3a8a3; 
    border: 4px solid rgb(136, 136, 136);
    margin: 5px;
    padding: 5px;
}

#truth-lie {
    border: 3px solid rgb(49, 49, 49);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#truth-lie input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #834519;
    color: white;
    border: 2px solid #363636; 
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

#truth-lie input[type="submit"]:hover {
    background-color: #9c620a;
}

.truth-lie-option {
    background-color: #ffe3b9;
    border: 2px solid #363636; 
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0; /* set vertical margin */
    display: block;
    align-items: center;
    cursor: pointer;
}

.truth-lie-option input[type="radio"] {
    float:left;
    transform: scale(2); /* enlarge radio button */
    margin-right: 15px;
}

.truth-lie-option:hover {
    background-color: #f8d39c; 
}

.team-photo-container {
    width: 100%; 
    max-width: 100%;
    margin: 0 auto; 
    position: relative; 
}

#teamphoto {
    width: 100%; /* lock width of img */
    border: 1px solid #000;
}


.area-tooltip {
    position: absolute; /* relative to ancestor */
    background-color: black;
    color: white;
    padding: 5px; /* Text padding inside box */
    border-radius: 5px; 
    display: none; /* Hides tooltip by default */
}

area:hover + .area-tooltip { /* + is adjacent sibling combinator */
    display: block; /* show the tooltip text */
}

/* Specific positions for each tooltip */
.tooltip-james {
    top: 70%; 
    left: 5%;
}

.tooltip-alessia {
    top: 79%;
    left: 30%;
}

.tooltip-aaron {
    top: 73%;
    left: 50%;
}

.tooltip-finn {
    top: 65%;
    left: 75%;
}

/* Enhancements CSS*/
#enhancements_main {
    background-color: #a3a8a3;
    border: 4px solid rgb(136, 136, 136);
    margin: 5px;
    padding: 5px;
}


#enhancements_main h1 { 
    text-align: left;
    padding-left: 20px;
}

#enhancements_main ol {
    font-style: italic;
    color: #32210b;
}

/* Footer CSS */
footer {
    background-color: black;
    padding-top: .5%;
    padding-bottom: 1.3%;
    padding-left: 1.1%;
    padding-right: 1.1%;
}

footer p {
    color: #E06F1F;
}

footer p:hover {
    color: white;
}


#email {
    color: #E06F1F;
}

#email:hover {
    color: white;
}

#inspo {
    color: #E06F1F;
}

#inspo:hover {
    color: white;
}

#email, #inspo {
    display: block;
    padding-bottom: 1%;
}

footer p{
    display: inline-block;
    width: 33%;
}

footer p:first-child{
    float: left;
    text-align: left;
}

footer p:nth-child(2){
    text-align: center;
}

footer img:last-child{
    float: right;
    text-align: right;
    width: 70px;
    height: 70px;
}


