/* style.css */

/* Universal CSS */
* {
    font-family: sans-serif;
}

/* #home{
    background-image: url(images/koi2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
} */


header h1 {
    text-align: center;
}

header img {
    width: 100%;
    
}

h2 {
    color: #E06F1F;
}

h3 {
    color: black;
}

body {
    background-color: #898b89;
}

body p {
    color: #645138;
}

nav {
    background-color: black;
    padding: 2%;
}

nav a {
    text-decoration: none;
    padding: 2%;
    color: #E06F1F;
    font-size: 1.5em;
}


nav a:visited{
    text-decoration: none;
}

nav a:hover{
    background-color: #E06F1F;
    color:white;
    padding: 2%;
}

fieldset {
    border-color: black;
}


#personal_details, #contact_information, #skills {
    width: 50%;
}

.active{
    background-color: #E06F1F;
    color:white;
}


aside {
    float: right;
    text-align: center;
}

aside img {
    border-radius: 50%;
    width: 25%;
}

