/* style.css */

/* Universal CSS */
* {
    font-family: sans-serif;
}

header {
    background-color: black;
    padding: 5%;
}

nav a {
    text-decoration: none;
    padding: 5%;
    color: #E06F1F;
    font-size: 1.5em;
}


nav a:visited{
    text-decoration: none;
}

nav a:hover{
    background-color: #E06F1F;
    color:white;
    padding: 5%;
}



